MFilesSync/App.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xsd:element name="configuration">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="configSections">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="section">
                <xsd:complexType>
                  <xsd:attribute name="name" type="xsd:string" use="required" />
                  <xsd:attribute name="type" type="xsd:string" use="required" />
                  <xsd:attribute name="requirePermission" type="xsd:boolean" use="required" />
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="sectionGroup">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="section">
                      <xsd:complexType>
                        <xsd:attribute name="name" type="xsd:string" use="required" />
                        <xsd:attribute name="type" type="xsd:string" use="required" />
                        <xsd:attribute name="allowExeDefinition" type="xsd:string" use="required" />
                        <xsd:attribute name="requirePermission" type="xsd:boolean" use="required" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="name" type="xsd:string" use="required" />
                  <xsd:attribute name="type" type="xsd:string" use="required" />
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="startup">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="supportedRuntime">
                <xsd:complexType>
                  <xsd:attribute name="version" type="xsd:string" use="required" />
                  <xsd:attribute name="sku" type="xsd:string" use="required" />
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="entityFramework">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="defaultConnectionFactory">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="parameters">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="parameter">
                            <xsd:complexType>
                              <xsd:attribute name="value" type="xsd:string" use="required" />
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="type" type="xsd:string" use="required" />
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="providers">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="provider">
                      <xsd:complexType>
                        <xsd:attribute name="invariantName" type="xsd:string" use="required" />
                        <xsd:attribute name="type" type="xsd:string" use="required" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="connectionStrings">
          <xsd:complexType>
            <xsd:attribute name="configSource" type="xsd:string" use="required" />
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="appSettings">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute name="file" type="xsd:string" use="required" />
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="userSettings">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="MFilesSync.Properties.Settings">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="setting">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="value">
                            <xsd:complexType mixed="true">
                              <xsd:sequence minOccurs="0">
                                <xsd:element name="ArrayOfString">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element maxOccurs="unbounded" name="string" type="xsd:string" />
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="name" type="xsd:string" use="required" />
                        <xsd:attribute name="serializeAs" type="xsd:string" use="required" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xs:schema>